/** Navbar **/

.navbar {
  background-color:white;
  border-radius: 0px;
  border-bottom: 5px solid #C8161A;
}

.nav, .home-page, .contact-page, .services-page, #carousel-example-generic{
  max-width: 48rem;
  margin-left:auto;
  margin-right:auto;
}

.navbar-brand, .nav-item {
  font-size: 1.5em
}

.nav-item {
  padding-top: 10px;
}

.nav a {
  color:black !important;
}

@media (max-width: 600px) {
  .navbar-brand {
    display:none;
  }
}

/** Carousel **/
#carousel-example-generic{ 
  max-width: 50rem;
  margin-left:auto;
  margin-right:auto;
}

.carousel-section {
  background-color:#0277BD;
  width: 100%;
  padding: 32px;
  border-bottom: 5px solid #C8161A;
}

/** About section **/
.about-section, .services-section, .services-page {
  margin-top: 48px;
  margin-bottom: 48px;
}


/** Services section **/
.service-list {
  margin-top: 48px;
}

.service img {
  width: 10em;
  margin-bottom: 16px;
}

.service {
  margin-bottom: 56px;
}

/** Footer **/
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color:#4F4F4F;
}

.footer-content {
  max-width: 48rem;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  padding-top: 1.5em;
  color: #BDBDBD;
  font-size: 0.75em;
}

.footer-content a,.footer-content a:hover,.footer-content a:focus {
  color: #BDBDBD
}

/** Divider **/
hr {
  border-color:#C8161A;
  border-width: 2px;
}

.contact-page {
  padding-bottom: 56px;
}