/** Navbar styling **/

nav {
  background-color:#00BCD4;
  border-radius:0 !important;
}

@media (max-width: 600px) {
  .navbar-brand {
    display:none;
  }
}

.nav-item {
  padding-left: 1em;
}

.nav-link {
  color:black !important;
}
/** video banner **/
video {
  width: 100%;
  position:relative;
  z-index:0;
}

.overlay {
  position:absolute;
  color:white;
  width: 100%;
  height: 100%;
  text-align:center;
  background-color:rgba(0,0,255,0.2);
  z-index:1;
}

.overlay h1 {
  padding-top: 25%;
}

/** Web Divider **/
.divider {
  height:15px;
  width: 100%;
  background-color:black;
}

/** About Content **/
.content {
  margin-top: 2em;
  margin-bottom: 2em;
}

/** Footer **/
footer {
  background-color: #263238;
  height: 100px;
  color:grey;
  text-align: center;
}

.footer-text {
  padding-top:60px;
  margin-bottom: 0px;
}
