.navbar {
  background-color:#B71C1C;
}

.nav {
  max-width: 48rem;
  margin-left:auto;
  margin-right:auto;
}

.navbar-brand, .nav-item {
  font-size: 1.5em
}

.nav a {
  color:white !important;
}

@media (max-width: 600px) {
  .navbar-brand {
    display:none;
  }
}