<nav class="navbar navbar-light">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar2"
    aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="/">
        <img width="60" height="60" src="/logo/svg/resizedlogo.svg" />
      </a>
      <div class="pull-sm-right">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
              Services
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/services">Hard Drive Recovery</a>
            <a class="dropdown-item" href="/services">External HDD Recovery</a>
            <a class="dropdown-item" href="/services">Laptop Data Recovery</a>
            <a class="dropdown-item" href="/services">USB Data Recovery</a>
            <a class="dropdown-item" href="/services">SSD Data Recovery</a>
            <a class="dropdown-item" href="/services">Deleted Data Recovery</a>
            <a class="dropdown-item" href="/services">SD Data Recovery</a>
            <a class="dropdown-item" href="/services">Mobile Data Recovery</a>
            <a class="dropdown-item" href="/services">Website Design</a>
          </div>
        </li>
      </div>
    </ul>
  </div>
</nav>